
/* ANIMATION SPEEDS */
.fast,.fast::before,.fast::after {animation-duration: 1000ms;}
.medium,.medium::before,.medium::after {animation-duration: 2000ms;}
.slow,.slow::before,.slow::after {animation-duration: 3000ms;}
.snail,.snail::before,.snail::after {animation-duration: 5000ms;}


/* INTERFACE ****************************************/
#interface {
    position: fixed;
    display: grid;
    justify-content: center;
    align-items:center;
    grid-template-columns: auto 1fr auto;
    grid-template-rows:  auto 1fr auto;
    width:100%;
    height:100%;
    z-index:9;
    transition: 1000ms;
    pointer-events: none;
    bottom: 0;
}

#interface.reduce {
    height: calc(100% - 60px);
}

#interface > div {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 100%;
}

#interface > div.top {align-self: flex-start;}


/* PIPS **************************************/
.pip,.pip.stacked {position:relative;}

.pip {
    background-color:var(--gray-300);
    border-radius: 2px;
}

.pip.sm {
    width:10px;
    height:4px;
}

.pip.md {
    width:18px;
    height:4px;
}

.pip.lg {
    width:24px;
    height:6px;
}

.pip.xl {
    width:36px;
    height:10px;
}

.pip.stacked::before {
    content:'';
    position: absolute;
    top:calc(100% + 2px);
    width:100%;
    height:100%;
    background-color:var(--gray-300);
    border-radius: 2px;
    opacity:0.5;
}

.pip.stacked::after {
    content:'';
    position: absolute;
    top:calc(200% + 4px);
    width:100%;
    height:100%;
    background-color:var(--gray-300);
    border-radius: 2px;
    opacity:0.25;
}

.pip.dark, .pip.dark.stacked::before, .pip.dark.stacked::after {background-color:var(--gray-800);}

.pip.stacked.up::before {top:calc(-100% - 2px);}
.pip.stacked.up::after {top:calc(-200% - 4px);}

.pip.stacked.left::before {left:25%;}
.pip.stacked.left::after {left:50%;}
.pip.stacked.left.long::before {left:150%;}
.pip.stacked.left.long::after {left:300%;}

.pip.stacked.right::before {right:25%;}
.pip.stacked.right::after {right:50%;}
.pip.stacked.right.long::before {right:150%;}
.pip.stacked.right.long::after {right:300%;}

.pip.runner-x {
    animation-name:runner-x;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.pip.stacked.runner-x::before {
    animation-name:tail-one;
}

.pip.stacked.runner-x::after {
    animation-name:tail-two;
}

.runner-x, .runner-x::before, .runner-x::after {animation-iteration-count: infinite;}


@keyframes runner-x {
    0% {left:0%}
    40% {left:100%; transform:translateX(-100%)}
    50% {left:100%; transform:translateX(-100%)}
    90% {left:0%}
}

@keyframes tail-one {
    0% {transform:translateX(0%)}
    5% {transform:translateX(-50%)}
    40% {transform:translateX(-50%)}
    50% {transform:translateX(0%)}
    55% {transform:translateX(50%)}
    90% {transform:translateX(50%)}
    95% {transform:translateX(0%)}
}

@keyframes tail-two {
    0% {transform:translateX(0%)}
    5% {transform:translateX(-100%)}
    40% {transform:translateX(-100%)}
    50% {transform:translateX(0%)}
    55% {transform:translateX(100%)}
    90% {transform:translateX(100%)}
    95% {transform:translateX(0%)}
}




/* ICONS ****************************************************/

/* STRUCTURE */
.icons.stack {
    display:grid;
    gap:8px;
}


/* ICONS */

.icon {
    font-size:32px;
    color: #FFF9;
}

.icon.xxs {font-size:8px;}
.icon.xs {font-size:16px;}
.icon.sm {font-size:24px;}
.icon.lg {font-size:48px;}
.icon.xl {font-size:64px;}

.icon.box {
    display:grid;
    grid-template-rows: 2px auto 2px;
    width:48px;
    height:48px;
    transition: 750ms;
}

.icon.xxs {width:16px;height:16px;}
.icon.xs {width:24px;height:24px;}
.icon.sm {width:32px;height:32px;}
.icon.lg {width:64px;height:64px;}
.icon.xl {width:80px;height:80px;}

.icon.box div {
    display:flex;
    justify-content: space-between;
}

.icon.box .icn {
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.icon.box.out {
    width:4px;
    height:4px;
}

.icon.box div:first-child::before,
.icon.box div:first-child::after,
.icon.box div:last-child::before,
.icon.box div:last-child::after {
    content:'';
    position:relative;
    display:block;
    width:2px;
    height:2px;
    background-color:#FFF;
}



/* LINES **********************************/

.line {
    width:1px;
    height:1px;
    background-color:var(--gray-100);
    transition: 500ms;
}

.line.fade.right {background-image:linear-gradient(to left, #FFF9 10%, transparent)}
.line.fade.left {background-image:linear-gradient(to right, #FFF9 10%, transparent)}
.line.fade.top {background-image:linear-gradient(to bottom, #FFF9 10%, transparent)}
.line.fade.bottom {background-image:linear-gradient(to top, #FFF9 10%, transparent)}

.line.ver {height:100%;}
.line.hor {width:100%;}

.line.ver.out {height:0%;}
.line.hor.out {width:0%;}

.line.ver.vib {
    animation: ver-line-vib 1000ms ease-in-out;
}

.line.hor.vib {
    
}

@keyframes ver-line-vib {
    0% {transform: translateX(0); filter: blur(0)}
    10% {transform: translateX(5px); filter: blur(1px)}
    20% {transform: translateX(-5px) translateY(5px);}
    30% {transform: translateX(2px) skewX(0);}
    40% {transform: translateX(-3px) skewX(2deg);}
    45% {transform: skewX(-2deg);}
    50% {transform: translateX(0) translateY(-5px) skewX(0); filter: blur(2px);}
    100% {transform: translateX(0) translateY(0); filter: blur(0)}
}




