/* CAROUSELS ********************************/

/* PAGINATION */
.pagination {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 16px;
    padding: 128px 64px 0;
}

.control {
    border:1px solid #fff;
    width:32px;
    height:32px;
    transform: rotateZ(-45deg);
}

.control > div {
    width:100%;
    height:100%;
    border-right:15px solid #fff;
    border-bottom:15px solid #fff;
    border-left:15px solid transparent;
    border-top:15px solid transparent;
}

.control.inactive {
    pointer-events: none;
    opacity: 0.25;
}

.control.prev {
    transform: rotateZ(135deg);
}

.nav {
    cursor:pointer;
}

.bubbles {
    width: 100%;
    height: 32px;
    display: flex;
    gap: 8px;
    justify-content: center;
    transition:2000ms;
}

.bubbles > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width:24px;
    transition:1000ms;
}

.bubbles > div.active {
    width:100%;
    pointer-events: none;
}

.bubbles > div.jux {
    width:25%;
}

.bubbles > div > div {
    width: 24px;
    height: 24px;
    border: 1px solid var(--gray-500);
    border-radius: 12px;
    transition:1000ms;
    transform:rotateZ(-90deg);
}

.bubbles > div.active > div {
    width: 64px;
    height: 64px;
    border-color: var(--gray-100);
    background-color: #fff9;
    border-radius: 0;
    transform: translateY(-48px) rotateZ(-45deg);
    position: relative;
}

.bubbles > div.jux > div {
    width: 32px;
    height: 32px;
    background-color: #6669;
    border-color: #999;
    border-radius: 8px;

}

.bubbles > div.jux > div {
    transform: translateY(-24px) rotateZ(-65deg);
}

.bubbles > div.active + .jux {
    /* justify-content: left; */
}

.bubbles > div.active + .jux > div {
    transform: translateY(-24px) rotateZ(-15deg);
}

.bubbles > div.active + .jux + div > div {
    transform: rotateZ(0deg);
}





/* IMAGE CAROUSEL **********************************************/

#image-carousel .container {
    padding: 0;
    height: 100%;
}

#image-carousel .images, 
#image-carousel .images > div, 
#image-carousel .images img {
    width: 100%;
    height: 100%;
}

#image-carousel .images {
    z-index: -1;
}

#image-carousel .images img {
    object-fit: cover;
    object-position: center;
}

#image-carousel .images > div {
    position: absolute;
    top:0;
    left:0;
    transition:1000ms;
}

#image-carousel .images > div.out {
    top:100%;
}

#image-carousel .pagination {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 16px;
    padding: 128px;
    padding-bottom:64px;
    z-index: 1;
}


/* BLOG CAROUSEL ********************************************/

#blog-carousel .blog {
    overflow-x: auto;
    display: flex;
    gap: 32px;
    padding: 64px calc(50% - 462px);
    scroll-behavior: smooth;
    transition:500ms;
}

#blog-carousel .pagination {
    z-index: 2;
}

#blog-carousel .blog::-webkit-scrollbar {
    display:none;
}

#blog-carousel .blog .content-box {
    min-width: 430px;
}




/* FADES */
.fade-sides {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(to right, var(--gray-700) 10%, transparent 30%, transparent 70%,var(--gray-700) 90%);
    z-index:1;
    pointer-events: none;
}