

/* BUTTONS */
.button {
    position:relative;
    top:0;
    opacity: 1;
    border: 1px solid var(--primary);
    background-color: var(--overlay-dark-md);
    cursor:pointer;
    transition:500ms, top 1000ms, opacity 1000ms;
}

.button.out {
    position:relative;
    top:100px;
    opacity: 0;
}

.button a {
    display: block;
    padding: 24px 64px;
    color: var(--primary);
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 600;
    transition: 500ms;
    text-align:center;
}

.button.condensed, .button.condensed a {
    display:inline-block;
}

.button.secondary {border-color: var(--gray-100);}
.button.secondary a {color: var(--gray-100);}

.button:hover {background-color: var(--primary);}
.button.secondary:hover {background-color: var(--gray-100);}
.button:hover a {color: var(--gray-800);}


/* TILTING BUTTONS */

.button.tilt {
    transform: perspective(1000px);
    transform-style: preserve-3d;
}

.button.tilt::before {
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background-color:transparent;
    border:1px solid transparent;
    transform:translateZ(0);
    transition:1000ms;
}

.button-container:hover .button.tilt {
    transform: perspective(1000px) rotateX(25deg) rotateY(25deg) rotateZ(-10deg) translateY(-20px);
}

.button-container:hover .button.tilt::before {
    border:1px solid var(--gray-100);
    transform:translateZ(-30px);
    animation: button-blink 250ms ease-in infinite alternate;
}

@keyframes button-blink {
    from{background-color:transparent;}
    to{background-color:#FFF6;}
}



/* CONTENT BOXES | BUY, BLOG, ETC */
.content-box {
    max-width: 500px;
    background-color:var(--gray-700);
    border: 1px solid var(--gray-100);
    box-shadow: 4px 6px 4px -2px #0006;
}

.content-box .label {
    background-color: var(--gray-900);
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px 16px;
    font-weight: 500;
}

.content-box .image {
    width:100%;
    height: 200px;
}

.content-box.buy .image {
    height: 300px;
}

.content-box .image img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.content-box .button {
    border: none;
    border-top:1px solid var(--primary);
}

.content-box .button.secondary {
    border-top:1px solid var(--gray-100);
}

.content-box .button a {
    border-radius: 0;
    border:none;
}


/* TEXT */

.content-box .text {
    padding: 32px;
    display: grid;
    gap: 32px;
}

.content-box .text .para {
    position: relative;
    height: 100px;
    overflow: hidden;
    font-size: var(--text-sm);
    font-weight: 500;
}

.content-box .text .para::after {
    content:'[ . . . ]';
    position:absolute;
    bottom:8px;
    right:0;
    padding-left:64px;
    padding-bottom: 2px;
    background-image:linear-gradient(to left, var(--gray-700) 35%, transparent);
}

.content-box .text .stamp {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: var(--text-xs);
    color: var(--gray-400);
    font-weight: 600;
    text-transform: uppercase;
    border-top: 1px solid var(--gray-400);
    padding-top: 16px;
}


/* TILT BOXES */

.content-box.tilt {
    transform: perspective(1000px);
    transform-style: preserve-3d;
    transition:500ms;
    transition-delay: 500ms;
    cursor: pointer;
}

.content-box.tilt::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    background-color: transparent;
    transform:translateZ(0);
    transition:1000ms;
}

.content-box-container:hover .content-box.tilt {
    transform: perspective(1000px) rotateX(25deg) rotateY(25deg) rotateZ(-10deg) translateY(-20px);
    transition-delay:0ms;
}

.content-box-container:hover .content-box.tilt.rev {
    transform: perspective(1000px) rotateX(25deg) rotateY(-25deg) rotateZ(10deg) translateY(-20px);
}

.content-box-container:hover .content-box.tilt::before {
    border-color: var(--gray-100);
    transform: translateZ(-80px);
    animation: content-box-blink 250ms ease-in infinite alternate;
}


@keyframes content-box-blink {
    from {background-color: transparent;}
    to {background-color: #fff6;}
}

.content-box-container:hover .content-box.tilt .button {
    background-color: var(--primary);
}

.content-box-container:hover .content-box.tilt .button a {
    color: var(--gray-800);
}

/* CARDS ********************************************/

.flip {
    position: relative;
    transform: perspective(1500px) rotateY(-180deg);
    transform-style: preserve-3d;
    transition: 1000ms;
}

.card.active .flip {
    transform: perspective(1500px) rotateY(0deg);
}

.card.active ~ .card:not(.active) .flip {
    transform: perspective(1500px) rotateY(180deg);
}

.card .front, .card .back {
    backface-visibility: hidden;
}

.card .back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border:  1px solid var(--gray-500);
    background-image: linear-gradient(var(--gray-800), var(--gray-900));
    transform: rotateY(180deg);
}

.card .back img {
    width: 50%;
}



/* IMAGE REVEAL *************************************/
.image-reveal {
    overflow:hidden;
    height:100%;
    transition: 2000ms;
    transition-delay:500ms;
}

.image-reveal.out {
    height:0%;
}

.image-reveal img {
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: top center;
}