/* HERO *********************************/

#hero {
    background-image: url("../images/home-hero.jpg");
    height: 100vh;
    background-position: center bottom;
}

#hero > div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#hero .content {
    position: relative;
    width: 60%;
    height: auto;
}

#hero .absolute {
    display: flex;
    bottom: 0;
    width: 100%;
}

/* STORY ********************************/

#story {
    background-image: url("../images/about-hero.jpg");
    background-position: 0 20%;
    background-size: 120%;
    height:100%;
}

#story .content{
    width: 40%;
    height: auto;
}


/* PURCHASE ***************************/

#purchase {
    background-image: url("../images/carousel-3.jpg");
}

#purchase .content {
    display: flex;
    justify-content: center;
    gap: 128px;
}