
/* GLOBAL STYLES ***************************/
.gradient-dark {
    background-image:linear-gradient(to bottom, var(--gray-700), var(--gray-800));
}

.story {background-attachment: fixed;}
.scroll {background-attachment: scroll;}

/* INDEX **************************************************/
/* HERO *********************************/

#hero {
    background-image: url("../images/home-hero.jpg");
    background-position: center bottom;
}


#hero .content, #hero .limited {
    position: relative;
    height:100%;
}

#hero .title {
    width:50%;
    height:500px;
}

#hero .absolute {
    bottom: 0;
    width: 100%;
}

#hero .cta {
    padding-bottom: 64px;
}

/* STORY ********************************/

#story {
    background-image: url("../images/about-hero.jpg");
    background-position:center left;
}

/* PURCHASE ***************************/

#purchase {
    background-image: url("../images/purchase-bg-1.jpg");
}



/* BLOG  ****************************/
#blog-carousel .container {
    display: grid;
    padding: 64px 0 128px;
}


/* CLOSER ***************************/
#closer {
    background-image: url("../images/cover-bike.jpg");
    background-position:bottom center;
}
#closer .absolute {max-width:500px;top:20%;right:10%;}



/* ABOUT **************************************************/
#about-vids {background-image: url("../images/about-vids.jpg");}
#about-purchase {background-image: url("../images/purchase-bg-2.jpg");background-position: right bottom;}
#about-expanded {background-image: url("../images/about-expanded.jpg");}
#about-strand {background-image: url("../images/about-social-strand.jpg");}
#about-more {background-image: url("../images/about-more.jpg");}

/* CLOSER ***************************/
#about-closer {
    background-image: url("../images/about-closer.jpg");
    background-position:bottom center;
}
#about-closer .absolute {max-width:500px;top:40%;left:10%;}


/* STORY **************************************************/
#bridget {background-image: url("../images/story/story-bridget.jpg");}
#amalie {background-image: url("../images/story/story-amalie.jpg");}
#demens {background-image: url("../images/story/story-demens.jpg");}
#communities {background-image: url("../images/story/story-communities.jpg");}
#hardman {background-image: url("../images/story/story-hardman.jpg");}
#sam {background-image: url("../images/story/story-sam.jpg");}

/* CLOSER ***************************/
#story-closer {
    background-image: url("../images/cover-beach.jpg");
    background-position:bottom center;
}
#story-closer .absolute {max-width:500px;top:20%;right:10%;}



/* CAST **************************************************/
#cast-hero {background-image: url("../images/cast-hero.jpg");}
#cast-vids {background-image: url("../images/cast-vids.jpg");}