
/* GLOBAL STYLES ***************************/
.gradient-dark {
    background-image:linear-gradient(to bottom, var(--gray-700), var(--gray-800));
}


/* HERO *********************************/

#hero {
    background-image: url("../images/home-hero.jpg");
    background-position: center bottom;
}


#hero .content, #hero .limited {
    position: relative;
    height:100%;
}

#hero .title {
    width:50%;
    height:500px;
}

#hero .absolute {
    bottom: 0;
    width: 100%;
}

#hero .cta {
    padding-bottom: 64px;
}

/* STORY ********************************/

#story {
    background-image: url("../images/about-hero.jpg");
    background-attachment: fixed;
    background-position:center left;
}

/* PURCHASE ***************************/

#purchase {
    background-image: url("../images/purchase-bg-1.jpg");
    background-attachment: fixed;
}

#purchase .container {
    gap: 128px;
}



/* BLOG  ****************************/
#blog-carousel .container {
    display: grid;
    padding: 64px 0 128px;
}


/* CLOSER ***************************/
#closer {
    background-image: url("../images/cover-bike.jpg");
    background-position:bottom center;
    background-attachment:fixed;
}

#closer .absolute {
    top:20%;
    right:0;
}

#closer .title {
    width:70%;
}