#video-player {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:grid;
    grid-template-rows: 1fr auto;
    padding:8px 64px;
}



/* CATALOG ***************************************************/
#video-player .catalog {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior: contain;
    direction:rtl;
    transition: 1500ms;
    transition-delay:500ms;
    transform: translateX(0%);
}

#video-player .catalog > .container {
    height:100%;
    width:100%;
    padding:32px;
    transition: 1000ms;
    transition-delay:1000ms;
    transform: translateY(0%);
}

#video-player.out .catalog > .container {transform: translateY(100%);}

#video-player .catalog .overflow-container {
    display:flex;
    justify-content: center;
    gap:32px;
    direction:ltr;
}

/* CONTENT BOXES */

#video-player .content-box-container {
    display:flex;
    gap:32px;
    align-items: center;
    position:relative;
}

#video-player .content-box-container .content-box {
    width:200px;
    height:125px;
}

#video-player .content-box-container .image {height:100%;max-height:100%;}

#video-player .content-box-container:hover .content-box.tilt {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(0px);
}

#video-player .content-box-container.active .content-box.tilt {
    transform: perspective(1000px) rotateX(25deg) rotateY(25deg) rotateZ(-10deg) translateY(-10px) translateX(8px) scale(1.15);
}

#video-player .content-box-container.active .content-box.tilt::before {
    transform: translateZ(-40px);
}

#video-player .content-box-container.active {pointer-events:none;}

#video-player .content-box .label {
    overflow:hidden;
    position:absolute;
    width:100%;
    bottom:0;
    left:0;
    padding:0;
    background-color: transparent;
    text-transform: none;
    pointer-events: none;
    height: 100%;
    display: grid;
    align-items: flex-end;
}

#video-player .content-box .label > div {
    padding: 8px 16px;
    border-top:1px solid var(--gray-200);
    background-color:#000C;
    transform: translateY(100%);
    transition: 500ms;
    position:relative;
}

#video-player .content-box:hover .label > div {
    transform: translateY(0%);
}

#video-player .content-box .label > div > div:last-child {
    font-size:1em;
    font-weight: 700;
    position:absolute;
    top:-20px;
    right:8px;
    color:var(--gray-300);
}

#video-player .content-box .label > div > div:last-child sup {
    font-size:0.6em;
    top:1px;
    font-weight: 800;
}


/* PLAY EFFECT */
#video-player .play {
    position: absolute;
    left: 70px;
    top: 30px;
    width:64px;
    height:64px;
    background-color:#0006;
    border:1px solid var(--gray-300);
    border-radius: 64px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:500ms ease-in;
    transform:rotateZ(180deg);
    transform-origin: center 100px;
    opacity:0;
    pointer-events: none;
}

#video-player .play i {
    font-size:24px;
    position:relative;
    
}

#video-player .play::after {
    content:'';
    position:absolute;
    width:78px;
    height:78px;
    top:-10px;
    left:-10px;
    border-top:2px solid var(--gray-200);
    border-right:2px solid var(--gray-200);
    border-bottom:2px solid transparent;
    border-left:2px solid transparent;
    border-radius: 64px;
    animation: play-spin 1s ease-out infinite;
}

@keyframes play-spin {
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
}


#video-player .content-box-container.active .play {
    opacity:1;
    transform: rotateZ(0deg);
}



/* PLAYER ***************************************************/
#video-player .player {
    
}

#video-player .player .frame-container {

}


/* VIDEO */
#video-player .player .frame-container,
#video-player .player .frame-media,
#video-player .player .media,
#video-player .player .media .container
{
    height:100%;
}

#video-player .player .media {
    display:grid;
    align-items: center;
    padding-left: 4px;
    transition:1000ms;
}

#video-player .player .media .container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
}

#video-player .player .media .container iframe {
    max-width:100%;
    height:100%;
    max-height:100%;
    aspect-ratio: 16 / 9;
    border-radius: 6px;
    border:1px solid var(--gray-600);
}